# Camera Configuration
# The RTSP URL for the camera including credentials
CAMERA_RTSP_URL="rtsp://USER:PASSWORD@IP:PORT/path"
# CGI Control URLs
CAMERA_LIGHT_ON_URL="http://IP/cgi-bin/configManager.cgi?action=setConfig&Lighting[0].Mode=Manual&Lighting[0].Intensity=100"
CAMERA_LIGHT_OFF_URL="http://IP/cgi-bin/configManager.cgi?action=setConfig&Lighting[0].Mode=Auto"
CAMERA_NIGHT_VISION_ON_URL="http://IP/cgi-bin/configManager.cgi?action=setConfig&VideoColor[0].Scene=Night"
CAMERA_NIGHT_VISION_OFF_URL="http://IP/cgi-bin/configManager.cgi?action=setConfig&VideoColor[0].Scene=Normal"
CAMERA_NIGHT_VISION_AUTO_URL="http://IP/cgi-bin/configManager.cgi?action=setConfig&VideoColor[0].Scene=Auto"

# JWT Configuration
# A secure, random string (at least 32 characters) for signing tokens
JWT_SIGNING_KEY="YOUR_SUPER_SECRET_RANDOM_KEY_HERE"
